<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="http://195.154.118.169/sofyan/site/views/table.css">
    <link rel="stylesheet" href="http://195.154.118.169/sofyan/site/views/login.css">

</head>

<body>
    {% block body %}


    {% endblock %}
    {% block javascript %}

    {% endblock %}

</body>
</html>
