<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="views/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css"
    />

    <meta charset="UTF-8" />
    {% block stylesheet %} {% endblock %}
    <title>{% block title %} Home {% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
  </head>
  <body>
    {% block body %} {% endblock %} {% block script %} {% endblock %}
  </body>
</html>
