<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {%block stylesheet %}
        {% endblock %}
        <title>{% block title %} Home {% endblock %} </title>
    </head>
    <body>
        <h1> Base HTML TESTMODIF</h1>
        <ul>
            <li><a href="http://195.154.118.169/guillaume/site/start.php?c=index&t=index">Test1</li>
            <li><a href={{ url }}"start.php?c=data&t=list">Test2</a></li>
        </ul>
        {% block body %}
        {% endblock %}

        {%block script %}
        {% endblock %}
    </body>
</html>