{% extends "base.html" %} {% block title %} Créer un utilisateur {% endblock %}
{% block body %}
<style>
  .centered-form {
    display: flex;
    align-items: center;
    text-align: center;
    height: 50vh;
    justify-content: center;
    border-radius: 25px;
  }
</style>
<h1>Créer un utilisateur</h1>
<div class="centered-form">
  <form method="post" action="start.php?c=user&t=insert">
    <label for="nom">Nom :</label>
    <input type="text" name="nom" id="nom" /><br />

    <label for="prenom">Prénom :</label>
    <input type="text" name="prenom" id="prenom" /><br />

    <input type="submit" value="Créer l'utilisateur" />
  </form>
</div>
{% endblock %}
