
{% block body %}
<h1>Ajouter une Réalisation professionnelle</h1>
<div class="realisationpro-form">
    <form method="post" action="start.php?c=realisationpro&t=insert">
        <label for="lib">Réalisation personnelle :</label>
        <input type='text' name='lib' id='lib' /><br />

        <label for="competence">Compétence validée :</label>
        <select name="competence" id="competence">
            {% for competence in competences %}
            <option value="{{ competence.id }}">{{ competence.shortlib }}</option>
            {% endfor %}
        </select><br />

        <input type="submit" value="Ajouter la Realisation professionnelle  " />
    </form>
</div>
{% endblock %}
