{% extends "base.html" %}

{% block stylesheet %}

{% endblock %}

{% block body %}

    <h1>Edition de l'utilisateur</h1>
    <form action="{{url}}?c=user&t=update&id={{ user.id }}" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" value="{{ user.nom }}" required><br>
    
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" value="{{ user.prenom }}" required><br>
    
        <input type="submit" value="Envoyer">
    </form>

{% endblock %}