{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
{% endblock %}

{% block body %}
<table id="userTable" class="display">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Ville</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.user_nom }}</td>
                <td>{{ user.user_prenom }}</td>
                <td>{{ user.ville_nom }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready( function () {
        $('#userTable').DataTable();
    } );
</script>
{% endblock %}