<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="http://195.154.118.169/sofyan/site/views/table.css">
    <link rel="stylesheet" href="http://195.154.118.169/sofyan/site/views/login.css">

</head>
<div class="form" id="loginForm">
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
    </form>
  </div>
